// ----------------------------------------------------------------------------
// Global

// Can be used on hero sections to common breakpoint heights
$banner-height: 92px;
$extra-height: 120px;
$feature-height-xl: 920px - $banner-height;
$feature-height-lg: 690px - $banner-height;
$feature-height-md: 490px - $banner-height;
$feature-height-sm: 320px - $banner-height;

// Set typography color. Defaults to white.
@mixin mighty-font-color($color: $white,$color-shift: darken,$color-shift-amount: 20,$color-hover: $color) {
  color: $color;
  h1, h2, h3, h4, h5, h6 {
    color: $color;
  }
  a {
    color: $color;
    &:visited {
      color: $color;
    }
    &:hover, &:focus {
      @if $color-shift == 'darken' {
        color: darken($color-hover, $color-shift-amount);
      } 
      @else if $color-shift == 'lighten' {
        color: lighten($color-hover, $color-shift-amount);
      }
    }
  }
}

// Set font color to white
.font-white {
  @include mighty-font-color($white, darken, 20);
}

// Use this on .row to set it to full width
.full-width {
   width: 100%;
   margin-left: auto;
   margin-right: auto;
   max-width: 100%;
}

.common-padding {
  padding-top: rem-calc(60);
  padding-bottom: rem-calc(60);
}

// ----------------------------------------------------------------------------
// Imports

@import 'banner';
@import 'main';
@import 'contentinfo';

