.c-homepage-hero {
  position: relative;
  &__row {
    min-height: calc(100vh - 74px);
    @include breakpoint(medium up) {
      height: 100vh;
    }
  }
  &__bg {
    &:before {
      position: absolute;
      height: 100%;
      width: 100%;
      content: '';
      background: radial-gradient(rgba($primary-color, .6), rgba(darken($primary-color, 10), .9) 90%);
      z-index: 1;
    }
  }
  &__bgImage {
    background-image: url(../images/homepage-hero.jpg);
    background-size: cover;
    position: center;
  }
  .o-brand {
    @include breakpoint(medium up) {
      font-size: 125%;
    }
  }
}