// Animation
.u-global-transition { transition: $global-transition; }

.u-parallax {
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  &__item {
    position: absolute;
    min-height: 130% !important;
    min-width: 100% !important;
    bottom: 0;
  }
}