.row .row {
  margin-left: 0;
  margin-right: 0;
}

.button {
  border-radius: $global-radius;
  text-transform: lowercase;
}

// Alignment: Padding
.u-global-top-padding { 
  padding-top: rem-calc($global-min-padding);
  @include breakpoint(medium up) {
    padding-top: rem-calc($global-top-padding);
  }
}

.u-global-bottom-padding {
  padding-bottom: rem-calc($global-min-padding);
  @include breakpoint(medium up) {
    padding-bottom: rem-calc($global-bottom-padding);
  }
}

.u-global-padding {
  @extend .u-global-top-padding;
  @extend .u-global-bottom-padding;
}