$o-bullet-size: 40;
$o-bullet-margin: $o-bullet-size / 2;

.o-bullet {
  height: rem-calc($o-bullet-size);
  width: rem-calc($o-bullet-size);
  margin: rem-calc(-$o-bullet-margin) auto;
  position: relative;
  z-index: 1;
  text-align: center;
  display: flex;
  align-items: center;
  transition: $global-transition;
  transform: translateY(0) scale(1);
  &:before {
    transition: $global-transition;
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(#fff, 1);
    border-radius: 50%;
  }
  &--more {
    &:before {
      transition: $global-transition;
      background-color: rgba(#fff, .6);
    }
  }
  &--primary { 
    &:before {
      background-color: $primary-color;
    }
  }
  &--secondary { 
    &:before {
      background-color: $secondary-color;
    } 
  }
  &--tertiary { 
    &:before {
      background-color: $tertiary-color;
    } 
  }
  &--more {
    transition: $global-transition;
    transform: translateY(rem-calc(-60)) scale(1.15);
  }
  &__arrow {
    visibility: hidden;
    margin: 0 auto;
    &--animate {
      visibility: visible;
      will-change: transform;
      display: inline-block;
      animation: animationFrames linear 4s;
      animation-iteration-count: infinite;
      transform-origin: 50% 50%;
      animation-delay: 1s;
      transform: translateY(rem-calc(-2));
    }
    &:before {
      will-change: transform;
      transform: rotate(45deg);
      content: "";
      display: inline-block;
      width: rem-calc(10);
      height: rem-calc(10);
      border-right: rem-calc(3) solid $primary-color;
      border-bottom: rem-calc(3) solid $primary-color;
    }
  }
}

$start-position: rem-calc(-2);
$end-position: rem-calc(3);
@keyframes animationFrames{
  0% { transform:  translateY($start-position);}
  5% { transform:  translateY($end-position);}
  10% { transform:  translateY($start-position);}
  15% { transform:  translateY($end-position);}
  20% { transform:  translateY($start-position);}
  100% { transform:  translateY($start-position);}
}

