.o-project {
  display: none;
  margin-bottom: rem-calc(30);
  padding: rem-calc(25);
  border-radius: rem-calc(30);
  @include breakpoint(medium up) {
    padding: rem-calc(30);
  }
  &__hero {
    background-size: cover;
    background-position: center;
    min-height: rem-calc(320);
    @include breakpoint(medium only) {
      min-height: rem-calc(520);
    }
  }
  &__heading {
    padding: rem-calc(30) rem-calc(30) 0;
    span {
      @extend .u-font-color--tertiary;
      line-height: 1;
      font-family: $fancy-font-heavy;
      text-transform: uppercase;
    }
  }
  &__aside {
    text-align: center;
    background-color: darken($primary-color, 18);
    &--primary { background-color: $primary-color;}
    &--secondary { background-color: darken($secondary-color, 14);}
    &--tertiary { background-color: darken($tertiary-color, 40);}
    @include breakpoint(large up) {
      text-align: left;
    }
  }
  &__asideContent {
    padding: 0;
  }
  &__details {
    padding: 0  rem-calc(30) rem-calc(30);
  }
  &__asideImage {
    background-size: cover;
    background-position: center;
    min-height: rem-calc(320);
    @include breakpoint(medium only) {
      min-height: rem-calc(520);
    }
    @include breakpoint(large up) {
      min-height: rem-calc(250);
    }
  }
  &__action {
    margin: 0;
  }
  &__actionButton {
    margin: 0 !important;
    border-radius: 0;
    border: 0;
    &--3 { background-color: lighten($primary-color, 5); }
    &--2 { background-color: lighten($primary-color, 10); }
    &--1 { background-color: lighten($primary-color, 15); }
    &--border { border-right: rem-calc(1) solid darken($primary-color, 24); }
  }
  &__button {
    @extend .u-global-transition;
    margin: 0 auto;
    color: $white !important;
    border-color: $white !important;
  }
  &__link {
    position: relative;
  }
  &__moreButton { 
    background-color: lighten($primary-color, 14); 
    &:visited {
      background-color: lighten($primary-color, 14);
    }
    &:hover, &:active, &:focus {
      background-color: $primary-color;
    }
    &--noMore {
      //color: $white !important;
      //background-color: $tertiary-color !important;
    }
  }
  &--primary { background-color: darken($primary-color, 7); }
  &--secondary { background-color: $secondary-color; }
  &--tertiary { background-color: $tertiary-color; }
  &.is-viewable {
    display: flex; 
  }
}