.o-section {
  &--short-column { 
    padding: 0 rem-calc(30) !important;
    max-width: rem-calc(720); 
  }
  &__heading {
    margin-bottom: rem-calc(40);
    text-align: center;
  }
  &__download {
    margin-top: rem-calc(40);
    text-align: center;
  }
  &__button {
    color: $white !important;
  }
}